@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: $lightgrey;
  font-family: "Manrope";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  background: url('../assets/images/home-background.png');
  background-size: cover;
  height: 94vh;
  padding: 36px 72px;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h2 {
    color: $yellow;
    font-size: 44px;
    text-align: center;
    font-weight: 400;
    margin: 24px;
    font-family: 'Anton';
  }
  input {
    border: none;
    border-radius: inherit;
    outline: none;
    width: 100%;
    padding-left: 24px;
  }
  div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    height: 50px;
    border-radius: 8px;
    position: relative;
  }
  img {
    margin: 6px;
  }
}

main {
  max-width: 1440px;
  margin: 0 100px;
}

.sort-options {
  margin: 16px 0;
  position: relative;
  display: flex;
  border-radius: 8px;
  .options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-right: 32px;
    background-color: white;
    border: none;
    border-radius: 8px;
  }
  .options-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    span {
      transform: rotate(270deg);
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
  input {
    height: 36px;
    outline: none;
  }
  .options-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    width: 200px;
    padding: 16px;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    transform: translate(0,-9999px);
    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.8;
      cursor: pointer;
    }
  }
}

.picked-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  p {
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 32px;
    background-color: $yellow;
    border-radius: 8px;
    span {
      margin-right: 60px;
    }
    .option-remove {
      cursor: pointer;
    }
  }
}

#recipes-count {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 21px;
  padding: 16px;
  position: absolute;
  right: 0;
}

.search-result {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.recipe {
  width: 27%;
  height: 730px;
  margin-bottom: 66px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 14px;
  &__time {
    position: absolute;
    align-self: flex-end;
    margin: 16px;
    background-color: $yellow;
    border-radius: 8px;
    padding: 8px 16px;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    height: 300px;
    aspect-ratio: 1;
  }
  &__title, &__description, &__ingredients {
    padding: 0 24px;
  }
  &__title {
    font-family: 'Anton';
    margin: 16px 0;
    font-size: 18px;
  }
  &__description {
    height: 107px;
    overflow:hidden;
  }
  h3 {
    text-transform: uppercase;
    color: $grey;
    margin: 16px 0;
    font-size: 12px;
  }
  &__ingredients {
    margin: 8px 0;
  }
  &__ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }
  }
  &__ingredients-element {
    font-weight: 600;
  }
  &__ingredients-quantity {
    color: $grey;
  }
}
