@font-face {
  font-family: Anton;
  src: url("../assets/fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-Variable.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #C6C6C6;
  font-family: "Manrope";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  background: url("../assets/images/home-background.webp");
  background-size: cover;
  height: 94vh;
  padding: 36px 72px;
}
header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header h2 {
  color: #ffd15b;
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  margin: 24px;
  font-family: "Anton";
}
header input {
  border: none;
  border-radius: inherit;
  outline: none;
  width: 100%;
  padding-left: 24px;
}
header div {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 70%;
  height: 50px;
  border-radius: 8px;
  position: relative;
}
header .search-icon {
  margin: 6px;
  height: 38px;
  aspect-ratio: 1/1;
}

main {
  max-width: 1440px;
  margin: 0 100px;
}

.sort-options {
  margin: 16px 0;
  position: relative;
  display: flex;
  border-radius: 8px;
}
.sort-options .options-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-right: 32px;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.sort-options .options-title {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  cursor: pointer;
}
.sort-options .options-title span {
  transform: rotate(270deg);
}
.sort-options h3 {
  font-size: 16px;
  font-weight: 400;
}
.sort-options input {
  height: 36px;
  outline: none;
  margin-bottom: 8px;
}
.sort-options .options-menu {
  position: absolute;
  top: 100%;
  padding-bottom: 8px;
  background-color: white;
  width: 200px;
  z-index: 100;
  border-radius: 0 0 8px 8px;
  transform: translate(0, -9999px);
}
.sort-options .options-menu li, .sort-options .options-menu input {
  margin: 16px;
}
.sort-options .options-menu ul {
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.sort-options .options-menu ul::-webkit-scrollbar {
  width: 8px;
}
.sort-options .options-menu ul::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}
.sort-options .options-menu li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.8;
  cursor: pointer;
}
.sort-options .options-menu li::first-letter {
  text-transform: uppercase;
}

.active-option {
  display: block;
  background-color: #ffd15b;
  padding: 8px 16px;
  cursor: pointer;
}

.picked-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.picked-options p {
  padding: 16px;
  margin-bottom: 16px;
  margin-right: 32px;
  background-color: #ffd15b;
  border-radius: 8px;
}
.picked-options p span {
  margin-right: 60px;
}
.picked-options p .option-remove {
  cursor: pointer;
}
.picked-options p::first-letter {
  text-transform: uppercase;
}

#recipes-count {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 21px;
  padding: 16px;
  position: absolute;
  right: 0;
}

.search-result {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe {
  width: 27%;
  height: 730px;
  margin-bottom: 66px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 14px;
}
.recipe__time {
  position: absolute;
  align-self: flex-end;
  margin: 16px;
  background-color: #ffd15b;
  border-radius: 8px;
  padding: 8px 16px;
}
.recipe__image {
  width: 100%;
  object-fit: cover;
  height: 300px;
  aspect-ratio: 1;
}
.recipe__title, .recipe__description, .recipe__ingredients {
  padding: 0 24px;
}
.recipe__title {
  font-family: "Anton";
  margin: 16px 0;
  font-size: 18px;
}
.recipe__description {
  height: 107px;
  overflow: hidden;
}
.recipe h3 {
  text-transform: uppercase;
  color: #7A7A7A;
  margin: 16px 0;
  font-size: 12px;
}
.recipe__ingredients {
  margin: 8px 0;
}
.recipe__ingredients-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.recipe__ingredients-list div {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.recipe__ingredients-element {
  font-weight: 600;
}
.recipe__ingredients-quantity {
  color: #7A7A7A;
}/*# sourceMappingURL=main.css.map */