// fonts
@font-face {
  font-family: Anton;
  src: url('../assets/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: Manrope;
  src: url('../assets/fonts/Manrope-Variable.ttf');
}

// colors
$lightgrey: #C6C6C6;
$grey: #7A7A7A;
$yellow: #ffd15b;